.contacto {
    width: 100%;
    
    .formulario {
        margin-top: 30px;
    }
}
.container_map{
    margin: 0;
    padding: 0 !important;
}
.mensaje_contact{
    min-height: 120px !important;
}
.input-field{
    margin-bottom: 0;
}
.enviar_contact {
    width: 100%;
    background-color: #009944;
    border-color: transparent;
    color: #fff;
    padding: 8px 0;
    margin-bottom: 10px;
    border-radius: 5px;
}