.header-ecovic {
    background-image: url(../img/slider-header.png);
    background-position: right;
    background-repeat: no-repeat;
    .header-degradado {
        @include horizontal-gradient(#82BC00, #9DCE00);
        opacity: .85;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 470px;
        .header-info {
            width: 550px; 
            text-align: center;
            color: #ffffff;
            h2 {
                display: block;
                font-size: 26px;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
                margin: 0;
                padding: 10px;
            }
            p {
                display: block;
                font-size: 12px;
                letter-spacing: .8px;
                margin: 0;
                opacity: 1;
                text-transform: uppercase;
            }
            .redes {
                margin: 30px 0;
                .redes_icon{
                    font-size: 20px;
                    color: $primary-color;
                    background-color: #ffffff;
                    padding: 10px;
                    margin: 0 10px;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    -o-border-radius: 50px;
                }
            }
            .header_cta {
                .btn-hogar_empresas {
                    width: 200px;
                    margin-right: 30px;
                    text-transform: uppercase;
                    display: inline-block;
                    padding: 10px 25px;
                    border: #ffffff 2px solid;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    color: #ffffff;
                    @media screen and (max-width: 480px) {
                        margin-right: 0px;
                    }
                    &:hover {
                        background-color: #ffffff;
                        color: $primary-color;
                    }
                }
                .btn-vehiculos {
                    width: 200px;
                    text-transform: uppercase;
                    display: inline-block;
                    padding: 10px 25px;
                    border: #ffffff 2px solid;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    @media screen and (max-width: 480px){
                        margin: 10px 0;
                    }
                    &:hover {
                        background-color: #ffffff;
                        color: $primary-color;
                    }
                }

            }
        }
    }
}
// tooltips
.material-tooltip {
    background-color: #ffffff;
    color: $primary-color;
    border-radius: 5px;
}