.my-navbar{
    @include horizontal-gradient(#82BC00, #9DCE00);
    box-shadow: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}
nav ul a {
    display: inline;
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.active-nav {
    background-color: rgba(0, 0, 0, 0.2);
    // opacity: 1;
}

// iconos
.icon-whatshap {
    color: #ffffff;
    font-size: 18px;
    margin-top: 50px;
    margin-right: 10px;
}
.logo-ecovic {
    font-size: 65px;
}