.container_tajetas {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    position: relative;
    width: 100%;
    margin: 0 auto;

    .tarjeta_precios {
        width: 250px;
        margin: 0 20px;
        display: inline-block;
        background-color: #F8F8F8;
        border-radius: 15px;

        .header_tarjeta {
            @include horizontal-gradient(#82BC00, #9DCE00);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            color: #ffffff;
            padding-bottom: 5px;
            text-align: center;

            .container_title {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 20px;

                .title-line {
                    width: 25px;
                    background-color: #ffffff;
                    height: 1px;
                }

                .title {
                    font-size: .95rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 3px;
                    margin: 0;
                    padding: 0 10px;
                }
            }

            .iconos_header {
                margin: 10px 0;

                .icono {
                    width: 40px;
                    height: 40px;
                    margin: 0 10px;
                    display: inline-block;
                    background-color: #ffffff;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    -o-border-radius: 50px;
                }
            }

            p {
                font-size: .65rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin: 0;
            }
        }

        .tarjeta_body {
            padding: 0 15px;

            .price_type {
                display: block;
                border-bottom: solid 1px #ECECEC;
                height: 30px;
                margin: 20px 0;

                .description {
                    font-size: 12px;
                    display: inline-block;
                    float: left;
                    color: $title-color;
                }

                .price {
                    font-size: 14px;
                    display: inline-block;
                    float: right;
                    color: $title-color;
                }

                .price-line {}
            }
        }
    }
}